fastapi
uvicorn
motor
python-dotenv
pymongo
bcrypt
python-jose[cryptography]
cloudinary
python-multipart
pydantic-settings
jwt
redis
rq
boto3
faiss-cpu
sentence-transformers
transformers
torch
requests
beautifulsoup4
aiohttp
python-multipart
pydantic
uuid
PyPDF2
python-docx
pytest
pytest-asyncio