fastapi
uvicorn[standard]
motor
python-dotenv
pymongo
bcrypt
python-jose[cryptography]
cloudinary
python-multipart
pydantic-settings
PyJWT
redis
rq
boto3
faiss-cpu
sentence-transformers
transformers
torch
requests
beautifulsoup4
aiohttp
pydantic
PyPDF2
python-docx
numpy
pytest
pytest-asyncio
